body {
  background-color: #050505;
  color: #ffffff;
}

.matrix-bg {
  background-image: radial-gradient(
    circle at 2px 2px,
    rgba(19, 236, 91, 0.03) 1px,
    transparent 0
  );
  background-size: 32px 32px;
}

.glass-card {
  background: #1513167e;
}

.glass-panel {
  background: rgba(19, 18, 22, 0.7);
  backdrop-filter: blur(12px);
  /* border: 1px solid rgba(255, 255, 255, 0.08); */
}

.neon-text {
  text-shadow: 0 0 10px rgba(174, 19, 236, 0.5);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #c6a9fc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #472f63;
}
